
.cards, .extras {
  padding: 20px;
}
#deal {
  justify-content: center;
  display: flex;
}
.homeCont{
  padding-top: 30px;
}
nav {
  margin-bottom: 20px;
}

.redBar, .greenBar, .blueBar, .yellowBar {
  width: 2px;
  background: url('https://i.imgur.com/iizF0pN.jpg');
  height: 20px;
  float: right;
}
.footer{
  position: absolute;
  bottom: 0;
}
