@charset "UTF-8";
/* CSS Document */

#music { background-color:#fef;
		 color: #330;
}

body	{ background-color: #FFF;
		  color: #330;
}

h3		{ background-color: #88f;
		  color: #FFF;
}

#cookies {background-color:#fee;
			color: #330;
}
 